.separator
{	
	padding: 25px 0 25px 0;
	font-size: 18px;
	opacity: 0.7;
	letter-spacing: -0.09em;
}
/* wrapping resize image */
.image
{
	position:relative;
}
.image a
{
	position:absolute; top:15px; left:15px;
}
.text-color
{
	color: #49bbcc;
}
.work_content
{
	margin-left: 15px;
}
.work_content p
{
	font: normal normal normal 15px/1.4em 'Open Sans',sans-serif;
    color: #484848;
}
.work_content a
{
	justify-content: center;
	background-color: rgba(73, 187, 204, 1);
    border: solid rgba(73, 187, 204, 1) 0px;
    text-decoration: none;
    width: 280px;
    height: 30px;
    color: white;
    font: normal normal normal 15px/1.4em 'Open Sans',sans-serif;
    margin-top: 110px;
}